.App {
	font-family: sans-serif;
	text-align: center;
}

.addTask input {
	outline: none;
}
.addBtn {
	margin-left: 10px;
	background-color: #4caf50;
	border: none;
	color: white;
	padding: 2px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 10%;
}
.addBtn:hover {
	box-shadow: 0 0 5px #50e3c2, 0 0 5px #50e3c2, 0 0 5px rgb(86, 216, 188),
		0 0 10px rgb(99, 252, 219);
}

.isError {
	box-shadow: 1px 1px 1px 1px red;
	animation: my 2s infinite;
	/* background-color: red; */
}
@keyframes my {
	from {
		 box-shadow: rgb(250, 154, 154);
	}
	to {
		 box-shadow: transparent;
	}
}
.isCorrect {
	box-shadow: 1px 1px 1px 1px green;
	animation: my 2s infinite;
}
.task-wrap {
	display: grid;
	grid-template-columns: 64% 12% 12% 12%;
	margin: 20px;
}
.tasks {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 10px;
	font-size: 1.3rem;
}
.done {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 10px;
	font-size: 1.3rem;
	text-decoration: line-through;
	opacity: 30%;
}
.task-number {
	color: #999;
	border: 1px solid #999;
	border-radius: 50%;
	width: 26px;
	height: 26px;
	display: flex;
	text-align: center;
	font-size: 14px;
	margin-right: 8px;
	align-items: center;
	justify-content: center;
}
.iconwrap {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 8px;
	gap: 12px;
}
.mark {
	width: 19px;
	height: 19px;
	color: rgb(32, 106, 32);
	cursor: pointer;
}
.edit {
	width: 19px;
	height: 19px;
	color: #ff6200;
	cursor: pointer;
}
.del {
	width: 19px;
	height: 19px;
	color: #f10f0f;
	cursor: pointer;
}
.del:hover,
.edit:hover,
.mark:hover {
	opacity: 70%;
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 10;
	background: rgba(0, 0, 0, 0.75);
}

.modal {
	position: fixed;
	top: 30vh;
	left: 10%;
	width: 80%;
	z-index: 100;
	overflow: hidden;
}

.header {
	background: #4f005f;
	padding: 1rem;
}

.header h2 {
	margin: 0;
	color: white;
}

.content {
	padding: 1rem;
}

.actions {
	padding: 1rem;
	display: flex;
	justify-content: flex-end;
}

@media (min-width: 768px) {
	.modal {
		left: calc(50% - 20rem);
		width: 40rem;
	}
}
